---
layout: base
---

	<div class="l-doc">
		
		<div class="l-doc__header">
			
			<div class="l-doc__header__content">
				
				<heading class="c-global-header">
					
					<div class="c-global-brand">
						<h1 class="c-global-brand__text">Paul Smith</h1>				
					</div>
					
					<nav class="c-global-navigation">
						<ul class="c-global-navigation__list">
							<li class="c-global-navigation__item"><a href="#nav-item-1">About</a></li>
							<li class="c-global-navigation__item"><a href="#nav-item-2">Blog</a></li>
							<li class="c-global-navigation__item"><a href="#nav-item-3">Journal</a></li>
						</ul>
					</nav>
				
				</heading>				
				
			</div>
			
		</div>
		
		<div class="l-doc__content">
			{{ content }}
		</div>
		
		<footer class="l-doc__footer">
			<p>Footer</p>
		</footer>
		
	</div>